<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container">

  <!-- Image and text -->
  <nav class="navbar navbar-light bg-light mb-3">
    <a class="navbar-brand" href="#">
      <img src="../favicon.ico" width="30" height="30" class="d-inline-block align-top"
        alt="icon">
      ToutouList
    </a>
  </nav>

  <app-list></app-list>

  <footer class=" my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021-2022 Alexandre Vernet</p>
  </footer>
</div>